.markdownH1:first-child {
    margin-top: 40px;
}

.markdownH1:first-child .MuiTypography-h4 {
    font-size: 3rem;
}

.markdownH1:first-child .MuiIconButton-root {
    display: none;
}
.markdownH1:not(:first-child) {
    margin-top: 96px;
}

.headline:not(:first-child) .headline-text .MuiSvgIcon-root {
    opacity: 0;
}
.headline:not(:first-child) .headline-text:hover .MuiSvgIcon-root {
    opacity: 0.25;
}
.headline:not(:first-child) .MuiIconButton-root:hover .MuiSvgIcon-root {
    opacity: 1;
}
.headline:not(:first-child) .MuiIconButton-root:active .MuiSvgIcon-root {
    opacity: 0.5;
}

.mdTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.mdTh,
.mdTd {
    padding: 8px 12px;
    text-align: left;
    vertical-align: top;
}

.mdTable thead .mdTh {
    padding-bottom: 8px;
}

@media (hover: none) {
    .headline:not(:first-child) .headline-text .MuiSvgIcon-root {
        opacity: 0.25;
    }
}
