.fallTheme blockquote, .fallTheme q {
    border-left: 6px #d17127 solid; /* rust[500] */
    background: #fcecc2; /* goldrenrod[100] */
}
.winterTheme blockquote, .winterTheme q {
    border-left: 6px #2e6750 solid; /* pine[500] */
    background: #e6edea; /* pine[50] */
}
.fallTheme pre, .fallTheme code {
    background-color: #fadf99; /* goldrenrod[200] */
    color: #774e08; /* toad[900] */
}
.winterTheme pre, .winterTheme code {
    background-color: #e6edea; /* pine[50] */
    color: #800820; /* wine[800] */
}
.fallTheme h1, .fallTheme h2, .fallTheme h3 {
    color:#d17127; /* rust[500] */
}
.winterTheme h1, .winterTheme h2, .winterTheme h3 {
    color: #9c0e33;  /* wine[500] */
}
