
/* St. Patrick's Day */
.marchTheme blockquote, .marchTheme q {
    border-left: 6px #79ae72 solid; /* emerald[300] */
    background: #e8f1e7; /* emerald[50] */
}
.marchTheme pre, .marchTheme code {
    background-color: #fdf9e6; /* yellow[50] */
    color: #2a6e22; /* emerald[800] */
}
.marchTheme h1, .marchTheme h2, .marchTheme h3 {
    color: #408b35;  /* emerald[500] */
}


/* Thanksgiving */
.fallTheme blockquote, .fallTheme q {
    border-left: 6px #d17127 solid; /* rust[500] */
    background: #fcecc2; /* goldrenrod[100] */
}
.fallTheme pre, .fallTheme code {
    background-color: #fadf99; /* goldrenrod[200] */
    color: #774e08; /* toad[900] */
}
.fallTheme h1, .fallTheme h2, .fallTheme h3 {
    color:#d17127; /* rust[500] */
}


/* Winter/New Years */
.winterTheme blockquote, .winterTheme q {
    border-left: 6px #2e6750 solid; /* pine[500] */
    background: #e6edea; /* pine[50] */
}
.winterTheme pre, .winterTheme code {
    background-color: #e6edea; /* pine[50] */
    color: #800820; /* wine[800] */
}
.winterTheme h1, .winterTheme h2, .winterTheme h3 {
    color: #9c0e33;  /* wine[500] */
}