html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.75;
}
#root{
  min-height: 100%;
}

blockquote, q {
  quotes: none;
  border-left: 6px #007bc1 solid;
  background: rgba(0, 123, 193, 0.1);
  margin: 0px;
  padding-left: 10px;
}
.fallTheme blockquote, .fallTheme q {
  border-left: 6px #d17127 solid; /* rust[500] */
  background: #fcecc2; /* goldrenrod[100] */
}
.winterTheme blockquote, .winterTheme q {
  border-left: 6px #2e6750 solid; /* pine[500] */
  background: #e6edea; /* pine[50] */
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

html{
  font-family: "Open Sans", SansSerif;
  font-size: 1rem;
}

pre, code {
  background-color: #ddd;
  color: #333333;
  font-family: "Roboto Mono", Monospaced;
  font-size: .75rem;
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
}
.fallTheme pre, .fallTheme code {
  background-color: #fadf99; /* goldrenrod[200] */
  color: #774e08; /* toad[900] */
}
.winterTheme pre, .winterTheme code {
  background-color: #e6edea; /* pine[100] */
  color: #800820; /* wine[800] */
}

code{
  padding: 0px;
}

.mark img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3{
  color: #007bc1;
  font-weight: 500;
}
.fallTheme h1, .fallTheme h2, .fallTheme h3 {
  color:#d17127; /* rust[500] */
}
.winterTheme h1, .winterTheme h2, .winterTheme h3 {
  color: #ca3c3d;  /* red[500] */
}

a{
  font-weight: 600;
  color:#007bc1;
  text-decoration: none;
}

iframe{
  width: 100%;
}
.stackblitz>iframe,
.sandbox>iframe{
  height: 790px;
  max-height: 90vh;
}
.snack:not(.link){
  overflow:hidden;
  background:#212733;
  border:1px solid rgba(0,0,0,.08);
  border-radius:4px;
  height:790px;
  max-height: 90vh;
  width:100%
}

/* Resources Table styles */
table{
  border-collapse: collapse;
}
table img, table a{
  display: block;
}
table a:not(:last-child){
  margin-bottom: 10px;
}
td, th{
  border: 1px solid #CCCCCC;
  padding: 15px;
}
.fallThem td, .fall th {
  border: saddlebrown;
}
.winterTheme td, .winterTheme th {
  border: crimson;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
